.aboutusimage {
  width: 518px;
  height: 373px;
}

.container {
  margin: 10px;
}
#textabout {
  text-align: left;
}

.searchdiv {
  background: #49bbbd;
  height: 400px;
  margin: 0;
  padding: 0;
}
