.aboutusimage {
	width: 518px;
	height: 373px;
}
.parentAboutUsImage {
	overflow: hidden;
}

.container {
	margin: 10px;
}
#textabout {
	text-align: left;
}

.searchdiv {
	background-image: url(../../img/background.png);
	height: 400px;
}
.owl-carousel {
	margin: 10;

	/* nav:true, */
	/* responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        } */
}
#card1 {
	width: 200px;
}
/* .allgrids {
  display: grid;
  gap: 10px;
  text-align: center;
  /* padding-left: 170px; */
/* margin-left: 0;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 auto;
  text-align: center;
  padding: 15px;
} */
.text-center {
	padding: 10px;
}
#searchbardiv {
	margin-top: 20px;
}
