.aboutusimage {
  width: 518px;
  height: 373px;
}
.parentAboutUsImage {
  overflow: hidden;
}

.container {
  margin: 10px;
}
#textabout {
  text-align: left;
}

.searchdiv {
  background: #49bbbd;
  height: 400px;
  margin: 0;
  padding: 0;
}
/* .nuggetspng {
  height: 400px;
  margin: auto 0 0;
  position: relative;
  top: 0px;
  left: 500px;

  /* position: absolute; */
/* }
.searchbar {
  position: absolute;
} */
