/* * {
  box-sizing: border-box;
} */

/* .container {
  margin-bottom: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 150px;
} */
#buttononrecipe {
  margin: auto 0 0;
  position: absolute;
  left: 0px;
  top: 10px;
}
